.event {
  overflow: hidden;

  padding: 0.25rem 0.5rem;

  border-radius: 0.3125rem;

  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 0.875rem;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.event[data-palette='primary'] {
  background: var(--calendar-primary-soft);
  color: var(--calendar-primary-soft-text);
}

.event[data-palette='1'] {
  background: var(--calendar-palette-1-soft);
  color: var(--calendar-palette-1-soft-text);
}

.event[data-palette='2'] {
  background: var(--calendar-palette-2-soft);
  color: var(--calendar-palette-2-soft-text);
}

.event[data-palette='3'] {
  background: var(--calendar-palette-3-soft);
  color: var(--calendar-palette-3-soft-text);
}

.event[data-palette='4'] {
  background: var(--calendar-palette-4-soft);
  color: var(--calendar-palette-4-soft-text);
}

.event[data-palette='5'] {
  background: var(--calendar-palette-5-soft);
  color: var(--calendar-palette-5-soft-text);
}

.event[data-palette='6'] {
  background: var(--calendar-palette-6-soft);
  color: var(--calendar-palette-6-soft-text);
}